{% load i18n %}
<!doctype html public "-//W3C//HTML 4.01 Transitional//EN">
<title>{% trans "Latitude Tags" %}</title>
<link rel=stylesheet href="static/style.css">

<body class="main">

<div id="header">
  <div class="title"><a href="/">{% trans "Latitude Tags" %}</a></div>
  <div class="user">
    {% if user %}<span class="email">{{ user.email }}</span>{% endif %}
    {% if member %}({{ member.nickname }}){% endif %}
  </div>
</div>

<div class="vshadow vs1"></div>
<div class="vshadow vs2"></div>
<div class="vshadow vs3"></div>

<div class="navigate">
  {% trans "Watch, join, or create a tag" %}
  <form method="get">
    #<input class="tag" name="tag" value="">
    <button class="go" type="submit">Go</button>
  </form>
</div>

<div class="dashboard">
  <table class="leaders" align=center>
  {% if tagstats %}
    <tr><th colspan=2>Active tags</td></tr>
  {% else %}
    <tr><th colspan=2>No active tags</td></tr>
  {% endif %}
  {% for tagstat in tagstats %}
    <tr>
      <td class="tag">
        <a href="/{{ tagstat.key.name|escape }}">
          #{{ tagstat.key.name|escape }}
        </a>
      </td>
      <td class="count">{{ tagstat.member_count|escape }}</td>
    </tr>
  {% endfor %}
  </table>
</body>
