{% load i18n %}
<!doctype html public "-//W3C//HTML 4.01 Transitional//EN">
<title>{% trans "Latitude Tags" %}</title>
<link rel=stylesheet href="static/style.css">

<h1>{% trans "Choose a nickname" %}</h1>

<p>
<form method=get>
<input type=hidden name=next value="{{ next|escape }}">
<input name=nickname id=nickname value="{{ nickname|escape }}">
<input type=submit value="{% trans "Go" %}">
</form>

<p>
{% trans "Your location will be shown only with this nickname." %}

<script>
  document.getElementById('nickname').focus();
</script>
